<div class="datawrapper" (mouseover)="summ()" > 
  <!-- მაუსჰოვერზე ვუშვებ რადგან თოგლეს გახსნისას ხელხლა ილოგება კალტის გვერდი და იქ 
  ავტომატურად რომ გაიშვას დაჯამების ფუნქციამ ტორე ჩეეკზეც მაქ მიბმული თუმცა დაჩეკვის შემდეგ ხდბა ტოგლეს გახსნა -->

    <div id="wrapper"  >

      <div class="myCard" *ngFor="let item of items" id="item" >
     
            <div class="innerCard" id="divkont" >
          
              <div class="frontSide">
                <img [src]="item.src" alt="err-img" class="foto1" />
                  <p  >{{item.name}}</p>
                  <p>{{ item.price }} $</p>
                 <div >add item

                    <input type="checkbox" [(ngModel)]="item.checked" (change)="addToCart(item)" placeholder="hello" />
                    
                </div>
              </div>
         
            </div>
        
        </div>
      
    </div>
    <div class="kalatawrapper">
  
      
        <img   src="assets/img/urika.png" alt="err-img" class="urika" (click)="onToggle()" >
        
        <div *ngIf="isToggled" class="divtoglleinformation" (mouseover)="summ()"  >
          <div class="kalata" id="kalataid">
            <div class="kalata-header">
              <img src="assets/img/urika.png" alt="err-img" class="urika" id="shidaurika" (click)="onToggle()">
              <h3>shop page</h3>
              <button (click)="onToggle()" class="toglebattonshida" > X </button>
            </div>
        
    
            <div *ngFor="let cartItem of cart" class="kalataminifoto">
              <img src={{cartItem.src}} alt="err img" class="kalataitmeimg">
              <p>{{ cartItem.name }} - ${{ cartItem.price }} </p>
              
          
          
            </div>
            
            <div class="summudris">
              <p>summ = </p>
              <p class="summp">0 </p> 
              <p>$</p>
              <button class="byebt" (click)="alert()">bye now</button>
            </div>
          </div>
        </div>
      </div>



  </div>




  




   
    
    
    
    
    
    



  