

.datawrapper{
    display: flex;
     width: 95%;
   }
     #wrapper{
       width: 90%;
      margin-left: 20px;
       display: flex;
       justify-content:center;
       flex-wrap: wrap;
     }
   
   
     #divkont{
       margin-left: 20px;
       width: 90%;
       max-width: 200px;
       display: flex;
       justify-content: space-between;
       flex-wrap: wrap;
      
     }
     
     #item {
       width: 25%;
       display: flex;
       flex-wrap: wrap;
      margin-top: 20px;
     }
   
   
     .foto1{
      
       width: 90%;
       height: 200px;
       margin-top: 10px;
       border-radius: 10px;
     }
   
     .input1 {
       max-width: 300px;
       padding: 5px;
       font-size: 16px;
       margin-bottom: 10px;
       margin-left: 40%;
       margin-bottom: 30px;
       margin-top: 30px;
       border-radius: 5px;
       max-width: 190px;
       height: 20px;
       padding: 10px;
     }
     
     
     .input1:focus {
       color: rgb(0, 255, 255);
       background-color: rgb(145, 170, 170);
       outline-color: rgb(0, 255, 255);
       box-shadow: -3px -3px 15px rgb(0, 255, 255);
       transition: .1s;
       transition-property: box-shadow;
     }
     
    
     
     li {
       padding: 5px;
       border: 1px solid #ccc;
       margin-bottom: 5px;
       
   
     }
     
   
     /*  აქა ძირიტადი გვერდის კლასები + კალთის                 */
   .myCard{
     width: auto;
     height: auto;
     background-color: aqua;
   }
 
   .kalata{
     margin-left: 5px;
     border-radius: 2px solid red;
    
    
   }
   .toglebattonshida{
     display: flex;
    width: 20px;
    height: 20px;
    align-items: center;
    justify-content: center;
   }
   .divtoglleinformation{
     min-width: 400px;
     width: 100%;
     min-height: 400px;
     height: auto;
     background-color:rgba(13, 19, 31, 0.25);
     margin-top: 10px;
     margin-left: 10px;
     border-radius: 10px;
 
   }
   .shopboxfoto{
     display: flex;
     width: 80%;
     justify-content: space-around;
     align-items: center;
   }
   .shopboxfoto>p{
     font-size: 20px;
   }
 .urika{
   max-width: 50px;
   height: 40px;
   margin-bottom: 10px;
 }
 #shidaurika{
   max-width: 40px;
   height: 30px;
 
 }
 .summudris{
   display: flex;
   align-items: center;
   font-size: 15px;
   color: rgb(13, 13, 13);
   margin-top: 60%;
 }
 .summudris>p{
   font-size: 22px;
 }
 
 .kalataitmeimg{
   width: 50px;
   height: 50px;
 }
 .kalata-header{
   display: flex;
   align-items: center;
   justify-content: space-around;
   
 }
 .kalataminifoto{
   display: flex;
   width: 90%;
 }
 .kalataminifoto>p{
   margin-left: 10px;
   font-size: 18px;
   color: white;
 
 }
 .byebt{
   width: 80px;
   background-color:rgb(0, 212, 255, 0.9);
   min-height: 30px;
   height: auto;
   margin-left: 40%;
   border-radius: 20px;
 
 }
 
 
 
 
 
 
 
 
 
 
 
 
   
   /* response mobile froindlich */
   
   @media only screen and (max-width: 700px) {
     #wrapper{
       background-color:#ccc;
       flex-direction: column;
       justify-content: center;
       align-items: center;
     }
 
     .divtoglleinformation{
       min-width: 250px;
       width: 100%;
       min-height: 250px;
       height: auto;
       background-color: rgb(24, 189, 18);
       margin-top: 10px;
   
     }
     #divkont{
       max-width: 200px;
     }
     #item{
       max-width: 200px;
       width: 100%;
     }
   
     .searcwrapper{
       max-width: 120px;
       flex-direction: column;
       
     }
     #model{
       width: 90px;
       margin: 0 auto;
       margin-top: 20px;
     }
     .inputdiv{
       width: 90px;
       flex-direction: column;
   
     }
   
     #itemname{
       font-size: 12px;
       border: none;
     }
     
   
   
     
   }
   
   
   @media only screen and (max-width: 420px) {
 
     .divtoglleinformation{
      margin-left: 10px;
       min-width: 160px;
       width: 100%;
       min-height: 250px;
     
   
     }
     
     .input1{
       margin-left: 15%;
     }
     #wrapper{
       background-color: #ccc;
       flex-direction: column;
       justify-content: center;
       align-items: center;
     }
     #divkont{
       max-width: 130px;
     }
     #item{
       max-width: 130px;
       width: 100%;
     }
   
     .searcwrapper{
       max-width: 100px;
       flex-direction: column;
       
     }
     #model{
       width: 80px;
       margin: 0 auto;
       margin-top: 20px;
     }
     .inputdiv{
       width: 80px;
       flex-direction: column;
   
     }
     .byebt{
       margin-left: 10%;
     }
 
     .summudris>p{
       font-size: 19px;
     }

     .foto1{
      height: 150px;
      }
   
     
   }